@layer base {
    .app-template {
        @apply min-h-screen;
        background-color: theme("colors.bg");

        @screen tablet {
            padding: 0 rem(32) rem(32);
        }

        @screen monitor {
            height: 100vh;
            min-height: 720px;
            padding-left: rem(130);
            padding-right: rem(130);
            padding-bottom: rem(98);
        }
    }
}
