@layer base {
    .app-template {
        @apply min-h-screen;
        background-color: theme("colors.bg");

        @screen tablet {
            padding: 0 rem(32) rem(32);
        }

        @screen monitor {
            // min-height: 720px;
            padding-left: 8.135rem;
            padding-right: 8.135rem;
            padding-bottom: 6.25rem;
        }
    }
}
