@layer base {
    @font-face {
        font-family: Montserrat;
        font-weight: 400;
        src: url("../../_webfonts/Montserrat-Regular.woff") format("woff");
        src: url("../../_webfonts/Montserrat-Regular.woff2") format("woff2");
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 500;
        src: url("../../_webfonts/Montserrat-Medium.woff") format("woff");
        src: url("../../_webfonts/Montserrat-Medium.woff2") format("woff2");
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 600;
        src: url("../../_webfonts/Montserrat-SemiBold.woff") format("woff");
        src: url("../../_webfonts/Montserrat-SemiBold.woff2") format("woff2");
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 700;
        src: url("../../_webfonts/Montserrat-Bold.woff") format("woff");
        src: url("../../_webfonts/Montserrat-Bold.woff2") format("woff2");
    }
}
