.app-header {
    @apply font-montserrat;
    @apply font-medium;
    background-color: theme("colors.bg");
    height: rem(64);

    .app-header-logo {
        height: rem(24);
        padding-left: rem(8);
    }

    .app-call {
        margin-right: rem(11);
        @apply text-center;

        .app-call-number {
            font-size: rem(14);
            @apply font-medium;
            color: theme("colors.blacktext");
        }
        .app-call-book {
            font-size: rem(10);
            @apply font-semibold;
            @apply uppercase;
            color: theme("colors.yellowtext");
            line-height: 1rem;
            @apply cursor-pointer;
            border-bottom: 2px dotted theme("colors.yellowtext");

            @screen tablet {
                @apply ml-4;
                margin-top: 0.2rem;
            }
        }
    }
}
