.modal-view {
    @apply p-4;
    @apply w-full;
    border-top: 1px solid rgba(186, 190, 194, 0.35);

    .modal-view-content {
        min-width: 18rem;

        h1 {
            @apply font-bold;
            color: theme("colors.yellowtext");
            font-size: rem(20);
            line-height: rem(30);
            letter-spacing: rem(-0.2);

            margin-top: 4rem;
        }

        .modal-view-close {
            top: 0;
            right: 0;
        }
        form {
            @apply mt-8;
            @screen tablet {
                @apply ml-0;
                @apply mr-0;
                margin-right: auto;
            }

            input {
                @apply font-montserrat;
                @apply font-light;
                @apply text-center;
                color: theme("colors.blacktext");
                font-size: rem(18);

                border: 1px solid theme("colors.yellowtext");
                border-radius: 1px;
                background-color: transparent;

                height: rem(56);

                @apply p-4;
                @apply mx-auto;

                &::placeholder {
                    color: theme("colors.placeholder");
                }
                &:focus {
                    outline: none;
                }
            }

            button {
                @apply font-montserrat;
                @apply font-bold;
                @apply uppercase;
                color: theme("colors.blacktext");
                font-size: rem(14);
                text-align: center;

                height: rem(56);

                border-radius: 1px;
                border: none;
                background-color: theme("colors.yellowtext");

                @apply mt-4;
                @apply mx-auto;

                &:active {
                    outline: none;
                    background: none;
               }
               &:focus {
                   outline: none;
               }
            }
        }
    }
    a {
        @apply block;

        @apply font-bold;
        @apply text-left;
        @apply uppercase;
        color: theme("colors.yellowtext");
        font-size: rem(14);
        @apply underline;

        margin-top: rem(25);
    }
}