.home-view {

    display: flex;
    flex-direction: column;

    flex-grow: 1;
    flex-shrink: 1;

    background-image: url("../images/romatti_bkg-414@2x.jpg");

    @include tablet {
        background-image: url("../images/romatti_bkg-768@2x.jpg");
    }

    @include laptop {
        background-position: top center;
        background-image: url("../images/romatti_bkg-1440@2x.jpg");
    }

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    .home-view-content {
        color: $textwhite;

        margin: 0 auto;
        padding: 0 1rem;

        position: relative;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;

        @include mobile-lanscape {
            
        }
        
        @include tablet {

            width: 100%;
            margin: 0 0;
            padding: 0 rem(40);
        }

        @include laptop {
            width: auto;
            margin: 0 auto;
            padding: 0;

            min-height: rem(544);
        }

        h5 {
            margin: 0;
            padding: 0;
            font-size: rem(16);
            line-height: rem(20);
            text-transform: uppercase;
            letter-spacing: rem(7);

            margin-top: rem(15);

            @include tablet {
                margin-top: rem(24);
            }
        }

        &-center {

            display: flex;
            flex-direction: column;
            
            margin: 2rem 0 0 0;

            @include mobile {

            }

            @include tablet {
                margin: 0;
            }

            h1 {
                //T
                font-weight: bold;
                font-size: rem(20);
                line-height: rem(28);
                letter-spacing: rem(-0.2);
    
                text-align: left;
                margin:0;

                &.h1-tablet {
                    display: none;
                }
                &.h1-laptop {
                    display: none;
                }
    
                @include mobile {
                    font-weight: bold;
                    font-size: rem(24);
                    line-height: rem(30);
                    letter-spacing: rem(-0.2);
                }

                @include tablet {

                    font-size: rem(48);
                    line-height: rem(56);
                    letter-spacing: rem(-0.8);

                    display: none;
                    &.h1-tablet {
                        display: block;
                    }
                    &.h1-laptop {
                        display: none;
                    }
                }

                @include laptop {

                    width: rem(722);

                    font-size: rem(32);
                    line-height: rem(40);
                    letter-spacing: rem(-0.3);

                    &.h1-tablet {
                        display: none;
                    }
                    &.h1-laptop {
                        display: block;
                    }
                }

    
            }
    
            h3 {
                font-weight: 400;
                font-size: rem(12);
                line-height: rem(18);
                letter-spacing: rem(0);
    
                margin: rem(9) 0 0 0;
    
                @include mobile {
                    font-weight: 400;
                    font-size: rem(14);
                    line-height: rem(22);
                    letter-spacing: rem(0);
                }

                @include tablet {
                    margin: rem(17) 0 0 0;

                    font-weight: 400;
                    font-size: rem(16);
                    line-height: rem(26);
                    letter-spacing: rem(0);

                }

                @include laptop {
                    margin-top: rem(10);
                }
            }

            .redirect {
                color: $textmain;

                font-weight: 700;
                font-size: rem(14);
                line-height: rem(24);
                text-transform: uppercase;
                border-bottom: 1px solid $textmain;
                
                margin: rem(24) auto 0 0;

                &:hover {
                    color: lighten($textmain,25%);
                    border-color: lighten($textmain,25%);
                }

                a {
                    display: block;
                }

            }
    
        }

    }

    p {
        color: $textgrey;
        font-size: rem(7);
        line-height: rem(10);
        letter-spacing: rem(-0.1);

        text-align: left;
        margin: auto 0 1rem 0;

        position: relative;

        @include mobile {
            
        }

        @include tablet {

            font-size: rem(12);
            letter-spacing: rem(-0.2);

            margin: 0 0 1rem 0;

            // position: absolute;
            // bottom: 0;
        }

        span {
            text-decoration: underline;
        }
    }
}
