.app-template {
    font-family:$montserrat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @include tablet {
        padding: 0 2rem 2rem;
    }

    @include laptop {
        padding: 0 rem(130) rem(96);
    }
}