@layer base {
    .app-template {
        @apply h-screen;
        background-color: theme("colors.bg");

        @screen lg {
            padding-left: 8.135rem;
            padding-right: 8.135rem;
            padding-bottom: 6.25rem;
        }

        .app-header {
            @apply font-inter;
            @apply font-normal;
            background-color: theme("colors.bg");
            height: 5.25rem;
            @apply pl-4;
            @apply pr-8;
            @apply py-6;

            @screen lg {
                @apply px-0;
            }

            .app-header-logo {
                height: 3rem;

                @screen md {
                    margin-top: -0.35rem;
                }
            }

            .app-header-desc {
                @apply font-inter;
                @apply font-light;
                @apply hidden;
                @apply uppercase;
                font-size: 0.875rem;
                margin-left: 2.5rem;

                @screen md {
                    @apply block;
                    margin-left: 3rem;
                }
            }

            .app-call {
                font-size: 0.75rem;
                @apply text-center;

                .app-call-number {
                    color: theme("colors.phonenumber");
                }
                .app-call-book {
                    color: theme("colors.cred");
                    line-height: 1rem;
                    @apply cursor-pointer;
                    border-bottom: 2px dotted theme("colors.cred");

                    @screen md {
                        font-size: 0.875rem;
                        @apply ml-4;
                    }
                }
            }
        }

        .home-view {
            background-image: url("../images/driving_bkg-414@2x.jpg");
            @apply bg-top;
            @apply bg-no-repeat;
            @apply bg-cover;
            @apply p-4;

            @screen md {
                min-height: 720px;
                background-image: url("../images/driving_bkg-768@2x.jpg");
                @apply p-8;
                @apply pb-4;
            }

            @screen lg {
                background-image: url("../images/driving_bkg-1440@2x.jpg");
                padding-left: 6.25rem;
                padding-right: 6.25rem;
            }

            .home-view-content {
                @apply font-inter;
                @apply relative;
                @apply text-left;
                color: theme("colors.cwhite");

                h1 {
                    font-size: 2rem;
                    @apply font-normal;
                    text-align: center;
                    @apply pt-8;

                    @screen md {
                        font-size: 1.125rem;

                        @apply text-left;
                        @apply absolute;
                        top: 0;
                        left: 0;
                    }
                }

                h3 {
                    @apply font-bold;
                    color: theme("colors.bg");
                    font-size: 1.125rem;
                    line-height: 1.475rem;
                    @apply mt-12;

                    @screen md {
                        @apply text-left;
                        @apply ml-0;
                        @apply mr-0;
                    }

                    span:nth-child(1) {
                        @apply block;
                    }

                    span:nth-child(2) {
                        @apply block;
                    }
                    span:nth-child(3) {
                        @apply block;
                    }
                }

                h5 {
                    @apply font-normal;
                    font-size: 0.875rem;
                    line-height: 1.3rem;
                    letter-spacing: 0.65px;
                    @apply mt-6;
                    @apply mx-auto;
                    max-width: 20rem;

                    @screen md {
                        max-width: 30.3rem;
                        font-size: 1.125rem;
                        line-height: 1.5rem;
                        @apply text-left;
                        @apply ml-0;
                        @apply mr-0;
                    }
                }

                form {
                    @apply mt-6;
                    @screen md {
                        max-width: 30.3rem;
                        @apply ml-0;
                        @apply mr-0;

                        @screen lg {
                            max-width: 23.75rem;
                        }
                    }

                    input {
                        @apply font-inter;
                        @apply font-light;
                        @apply text-left;
                        color: theme("colors.cgray1");
                        font-size: 1.125rem;

                        border-bottom: 1px solid theme("colors.cgray1");
                        background-color: transparent;

                        @apply p-4;
                        @apply mx-auto;
                        @screen md {
                            @apply mt-12;
                        }
                    }
                    input:focus {
                        color: theme("colors.cwhite");
                        border-bottom: 1px solid theme("colors.cwhite");
                        outline: none;
                    }
                    button {
                        @apply font-inter;
                        @apply font-light;
                        @apply shadow;
                        color: theme("colors.bg");
                        font-size: 1.125rem;
                        text-align: center;

                        border-radius: 1px;
                        border: 1px solid theme("colors.cred");
                        background-color: theme("colors.cred");

                        @apply mt-4;
                        @apply p-4;
                        @apply mx-auto;
                    }
                }

                a {
                    @apply block;
                    @apply font-light;
                    @apply text-left;
                    color: theme("colors.bg");
                    font-size: 1.125rem;
                    @apply underline;
                    @apply mt-6;
                    @apply mx-auto;

                    @screen md {
                        @apply text-left;
                        @apply ml-0;
                        @apply mr-0;
                        @apply mt-6;
                    }
                }
            }
            p {
                @apply block;
                @apply font-inter;
                @apply font-light;
                @apply text-left;
                color: theme("colors.cgray1");
                font-size: 0.5rem;
                @apply mx-auto;

                @screen md {
                    font-size: 0.75rem;
                    @apply text-left;
                    @apply ml-0;
                    @apply mr-0;
                }

                @screen lg {
                    max-width: 18.3rem;
                    line-height: 1rem;
                }

                span {
                    @apply underline;
                }
            }
        }

        .success-view {
            @apply p-4;
            border-top: 1px solid rgba(186, 190, 194, 0.35);

            @screen md {
                @apply pb-16;
            }

            h2 {
                @apply font-inter;
                @apply font-normal;
                @apply uppercase;
                @apply text-center;
                color: theme("colors.cgray4");
                font-size: 0.875rem;
                letter-spacing: 4px;
                line-height: 1.125rem;

                @screen lg {
                    font-size: 1.375rem;
                }
            }
            h4 {
                @apply block;
                @apply font-inter;
                @apply font-normal;
                @apply text-center;
                color: theme("colors.cgray3");
                font-size: 2rem;
                line-height: 2.5rem;
                @apply mt-4;

                @screen lg {
                    @apply font-light;
                    font-size: 4rem;
                    line-height: 4.5rem;
                }
            }
            a {
                @apply font-inter;
                @apply font-normal;
                color: theme("colors.bg");
                font-size: 1.125rem;
                text-align: center;

                border-radius: 8px;
                border: 1px solid theme("colors.cred");
                background-color: theme("colors.cred");

                @apply mt-12;
                @apply p-4;
                @apply mx-auto;

                @screen md {
                    max-width: 20.5rem;
                }
            }

            .success-view-icons {
                .success-view-icon {
                    .success-view-icon-svg {
                        height: 5rem;
                    }
                    p {
                        @apply font-inter;
                        @apply font-normal;
                        @apply text-center;
                        color: theme("colors.cgray3");
                        @apply mt-4;
                        font-size: 1.25rem;
                        line-height: 1.5rem;
                    }
                }
            }
        }

        .modal-view {
            @apply p-4;
            @apply w-full;
            border-top: 1px solid rgba(186, 190, 194, 0.35);

            .modal-view-content {
                @screen md {
                    max-width: 30.3rem;
                    @apply mx-auto;
                }

                h1 {
                    @apply w-full;
                    @apply block;
                    @apply font-inter;
                    @apply font-extrabold;
                    @apply text-left;
                    color: theme("colors.cblack");
                    font-size: 2rem;
                    line-height: 2.5rem;
                }

                .modal-view-close {
                    top: 0;
                    right: 0;
                }
                form {
                    @apply mt-8;
                    @screen md {
                        @apply ml-0;
                        @apply mr-0;

                        @screen lg {
                            max-width: 23.75rem;
                        }
                    }

                    input {
                        @apply font-inter;
                        @apply font-light;
                        @apply text-left;
                        color: theme("colors.cgray3");
                        font-size: 1.125rem;

                        border-bottom: 1px solid theme("colors.inpuborder");
                        background-color: theme("colors.bg");

                        @apply pl-0 pr-4 py-4;

                        @apply mx-auto;

                        &:focus {
                            outline: none;
                        }

                        &::placeholder {
                            color: theme("colors.cgray3");
                        }
                    }
                    button {
                        @apply font-inter;
                        @apply font-light;
                        @apply shadow;
                        color: theme("colors.bg");
                        font-size: 1.125rem;
                        text-align: center;

                        border-radius: 1px;
                        border: 1px solid theme("colors.cred");
                        background-color: theme("colors.cred");

                        @apply mt-4;
                        @apply p-4;
                        @apply mx-auto;
                    }
                }
            }
            a {
                @apply block;
                @apply font-inter;
                @apply font-light;
                color: theme("colors.modalclose");
                font-size: 1.125rem;
                @apply underline;
                @apply mt-6;
                @apply mr-auto;

                @screen md {
                    @apply text-left;
                    @apply ml-0;
                    @apply mr-0;
                    @apply mt-6;
                }
            }
        }
    }
}
