@layer base {
    @font-face {
        font-family: Inter;
        font-weight: 400;
        src: url("../fonts/Inter-Regular.woff") format("woff");
        src: url("../fonts/Inter-Regular.woff2") format("woff2");
    }
    @font-face {
        font-family: SuisseIntl;
        font-weight: 300;
        src: url("../fonts/SuisseIntl-Light.otf") format("opentype");
    }
    @font-face {
        font-family: SuisseIntl;
        font-weight: 400;
        src: url("../fonts/SuisseIntl-Regular.otf") format("opentype");
    }
    @font-face {
        font-family: SuisseIntl;
        font-weight: 500;
        src: url("../fonts/SuisseIntl-Medium.otf") format("opentype");
    }
    @font-face {
        font-family: SuisseIntl;
        font-weight: 700;
        src: url("../fonts/SuisseIntl-Bold.otf") format("opentype");
    }
}
