@layer base {
    @font-face {
        font-family: Manrope;
        font-weight: 400;
        src: url("/fonts/Manrope-Regular.otf") format("opentype");
    }
    @font-face {
        font-family: SuisseIntl;
        font-weight: 300;
        src: url("/fonts/SuisseIntl-Light.otf") format("opentype");
    }
    @font-face {
        font-family: SuisseIntl;
        font-weight: 400;
        src: url("/fonts/SuisseIntl-Regular.otf") format("opentype");
    }
    @font-face {
        font-family: SuisseIntl;
        font-weight: 500;
        src: url("/fonts/SuisseIntl-Medium.otf") format("opentype");
    }
    @font-face {
        font-family: SuisseIntl;
        font-weight: 700;
        src: url("/fonts/SuisseIntl-Bold.otf") format("opentype");
    }
}
