.app-header {
    font-size: rem(12);

    z-index: 99;
    position: relative;
    font-weight: 500;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-shrink: 0;
    flex-grow: 0;

    background-color: $bg;
    height: rem(64);

    padding-left: rem(16);
    padding-right: rem(16);

    @include tablet {
        height: rem(80);
    }

    .app-header-logo {
        height: rem(40);

        svg {
            height: 100%;
        }
        
    }

    .app-call {
        
        display: flex;
        flex-direction: column;

        text-align: center;

        .app-call-number {
            font-weight: 300;
            color: theme("colors.blacktext");
        }
        .app-call-book {
            color: theme("colors.bluetext");
            line-height: 1rem;
            border-bottom: 2px dotted theme("colors.yellowtext");
        }
    }
}
