.success-view {
    @apply font-raleway;
    @apply p-4;
    @apply w-full;
    border-top: 1px solid rgba(186, 190, 194, 0.35);

    .success-view-content {
        max-width: rem(200);
        @apply mx-auto;

        @screen tablet {
            max-width: 100%;
        }

        h2 {
            @apply font-hairline;
            @apply text-left;
            @apply uppercase;
            font-size: rem(12);
            color: theme("colors.blacktext");
            letter-spacing: rem(6);

            margin-top: rem(150);
            margin-right: auto;


            @screen phone {
                margin-top: rem(197);
            }


            @screen tablet {
                margin-top: 0;
                font-size: rem(16);
                letter-spacing: rem(7);
            }
        }

        h4 {
            @apply font-bold;
            @apply text-left;
            font-size: rem(32);
            letter-spacing: rem(-0.3);
            line-height: rem(40);

            margin-top: rem(8);

            @screen tablet {
                font-size: rem(48);
            }
        }

        .modal-view-close {
            top: 0;
            right: 0;
        }
    }
    a {
        @apply block;

        @apply font-normal;
        @apply text-left;
        color: theme("colors.close");
        font-size: rem(16);
        border-bottom: 1px solid theme('colors.close');

        margin-top: rem(24);
        margin-right: auto;
    }
}