.app-header {

    flex-shrink: 0;

    @apply font-suisseintl;
    @apply font-medium;
    background-color: theme("colors.bg");
    height: rem(64);

    padding-left: rem(8);
    padding-right: rem(11);

    @screen tablet {
        height: rem(80);
    }

    .app-header-logo {
        height: rem(24);

        @screen tablet {
            height: rem(32);
        }
        
    }

    .app-call {
        
        @apply text-center;

        .app-call-number {
            font-size: rem(14);
            @apply font-medium;
            color: theme("colors.blacktext");
        }
        .app-call-book {
            font-size: rem(10);
            @apply font-bold;
            @apply uppercase;
            color: theme("colors.yellowtext");
            line-height: 1rem;
            @apply cursor-pointer;
            border-bottom: 2px dotted theme("colors.yellowtext");

            @screen tablet {
                font-size: rem(14);

                @apply ml-2;
                margin-top: 0.1rem;
            }
        }
    }
}
