.home-view {

    flex-shrink: 1;

    background-image: url("../images/medicine_bkg-414@2x.jpg");
    @apply bg-top;
    @apply bg-no-repeat;
    @apply bg-cover;
    @apply p-4;

    @screen tablet {
        background-image: url("../images/medicine_bkg-768@2x.jpg");
        padding-left: rem(40);
        padding-right: rem(40);
        padding-top: rem(24);
        
    }

    @screen monitor {
        min-height: rem(544);
        @apply bg-right-top;
        background-image: url("../images/medicine_bkg-1440@2x.jpg");
        
    }

    .home-view-content {
        min-width: 18rem;
        @apply mx-auto;

        @apply font-suisseintl;
        @apply relative;
        @apply text-left;
        color: theme("colors.whitetext");

        @screen monitor {
            @apply mx-auto;
            max-width: rem(722);
        }

        h1 {

            width: rem(288);

            @apply font-bold;
            font-size: rem(20);
            line-height: rem(25);
            color: theme('colors.whitetext');
            letter-spacing: 0;
            text-align: left;

            margin-top: rem(90);
    
            @screen phone {
                width: rem(343);

                font-size: rem(24);
                line-height: rem(30);
                letter-spacing: rem(-0.2);
            }
    
            @screen tablet {
                margin-top: rem(250);
                width: rem(624);
                font-size: rem(32);
                line-height: rem(40);
                letter-spacing: rem(-0.3);
            }
    
            @screen monitor {
                //max-width: rem(551);
            }
        }

        h5 {
            @apply font-normal;
            font-size: rem(14);
            line-height: rem(20);
            letter-spacing: 0;
            @apply text-left;
            
            margin-top: rem(13);

            @screen tablet {
                margin-top:rem(26);
            }

            @screen tablet {
                max-width: rem(402);

                @apply font-light;
                font-size: rem(16);
                line-height: rem(24);
                letter-spacing: 0;

                margin-top:rem(31);
            }
        }

        form {
            margin-top: rem(26);
            @apply mx-auto;

            @screen phone {

            }

            @screen tablet {
                margin-top: rem(43);
                width: rem(328);
                margin-left:0;
                margin-right:auto;
            }

            @screen monitor {
                margin-top: rem(16)
            }

            input {
                @apply font-suisseintl;
                @apply font-light;
                @apply text-left;
                color: theme("colors.whitetext");
                font-size: rem(18);

                border-bottom: 1px solid theme("colors.bottomborder");
                background-color: transparent;

                height: rem(56);

                @apply p-4;
                @apply mx-auto;

                &::placeholder {
                    color: theme("colors.placeholder");
                }
                &:focus {
                    color: theme("colors.whitetext");
                    outline: none;
                }

                @screen tablet {
                    
                }
            }

            button {
                @apply font-normal;
                color: theme("colors.greentext");
                font-size: rem(18);
                text-align: center;

                height: rem(56);
                box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.16);

                border-radius: 1px;
                border: 1px solid theme('colors.greentext');
                background-color: theme("colors.whitetext");

                @apply mt-4;
                @apply mx-auto;

                &:active {
                    outline: none;
                    background: none;
               }
               &:focus {
                   outline: none;
               }

               @screen tablet {
                    
               }
            }
        }
    }

    p {
        @apply block;
        @apply font-normal;
        @apply text-left;
        color: theme("colors.greytext");
        font-size: rem(8);

        min-width: 18rem;
        margin-right:auto;
        margin-top: rem(40);

        @screen phone {
            margin-top: auto;
        }

        @screen tablet {
            font-size: rem(14);
            
        }

        @screen monitor {
            @apply mx-auto;
            width: rem(722);
            max-width: rem(722);
        }

        span {
            @apply underline;
        }
    }
}
