@layer base {

    body {
        #app {

            height:100vh;

            .app-template {
                height:100vh;

                background-color: theme("colors.bg");
        
                @screen tablet {
                    padding: 0 rem(32) rem(32);
                }
        
                @screen monitor {
                    padding-left: rem(130);
                    padding-right: rem(130);
                    padding-bottom: rem(98);
                }
            }
        }
    }
}
