@font-face {
	font-family: "Helvetica Neue";
	src: url('../../fonts/helvetica-neue/helvetica-neue_light.woff');
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: "Helvetica Neue";
	src: url('../../fonts/helvetica-neue/helvetica-neue_regular.woff');
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Helvetica Neue";
	src: url('../../fonts/helvetica-neue/helvetica-neue_medium.woff');
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: "Futura PT - Book";
	src: url('../../fonts/futura-pt/futura-pt_book.woff');
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: "Playfair Display";
	src: url('../../fonts/playfair-display/playfair-display.woff');
	font-weight: 400;
	font-display: swap;
}


	