.app-header {

    flex-shrink: 0;

    @apply font-roboto;
    @apply font-medium;
    background-color: theme("colors.bg");
    height: rem(64);

    padding-left: rem(8);
    padding-right: rem(11);

    @screen tablet {
        height: rem(80);
    }

    .app-header-logo {
        height: rem(14);

        @screen phone {
            height: rem(16);
        }

        @screen tablet {
            height: rem(28);
        }
        
    }

    .app-call {
        
        @apply text-center;

        .app-call-number {
            font-size: rem(13);
            @apply font-light;
            color: theme("colors.blacktext");

            @sсreen tablet {
                font-size: rem(14);
            }
        }
        .app-call-book {
            font-size: rem(10);
            @apply font-bold;
            @apply uppercase;
            color: theme("colors.bluetext");
            line-height: 1rem;
            @apply cursor-pointer;
            border-bottom: 2px dotted theme("colors.yellowtext");

            @screen tablet {
                font-size: rem(14);

                margin-left: 1rem;
                margin-top: 0.13rem;
            }
        }
    }
}
