.modal-view {
    @apply px-4;
    @apply w-full;
    border-top: 1px solid rgba(186, 190, 194, 0.35);

    .modal-view-content {
        min-width: 18rem;

        @screen phone {
            margin: 0 auto;
            width: 50%;
        }

        h1 {
            @apply font-bold;
            @apply text-left;
            font-size: rem(30);
            color: theme("colors.darktext");
            letter-spacing: rem(-0.3);

            margin-top: rem(100);
            margin-right: auto;

            @screen tablet {
                margin-top: rem(200);
                text-align: center;
            }
        }

        .modal-view-close {
            top: 1rem;
            right: 0rem;
        }
        form {
            @apply w-full;
            margin-top: rem(32);

            @screen tablet {
                width: 100%;
                margin-left:auto;
                margin-right:auto;
            }

            input {
                @apply font-suisseintl;
                @apply font-normal;
                @apply text-left;
                color: theme("colors.darktext");
                font-size: rem(18);

                border-bottom: 1px solid theme("colors.bottomborder");
                background-color: transparent;

                height: rem(56);

                @apply p-4;
                @apply mx-auto;

                &::placeholder {
                    color: theme("colors.placeholder");
                }
                &:focus {
                    color: theme("colors.darktext");
                    border-bottom: 1px solid theme("colors.darktext");
                    outline: none;
                }

                @screen tablet {
                    
                }
            }

            button {
                @apply font-normal;
                color: theme("colors.whitetext");
                font-size: rem(18);
                text-align: center;

                height: rem(56);
                box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.16),
                0 8px 8px rgba(79, 115, 89, 0.16),
                0 0 8px rgba(79, 115, 89, 0.08);

                border-radius: 1px;
                background-color: theme("colors.greentext");

                @apply mt-4;
                @apply mx-auto;

                &:active {
                    outline: none;
                    background: none;
               }
               &:focus {
                   outline: none;
               }

               @screen tablet {
                    
               }
            }
        }
    }
    a {
        @apply block;

        @apply font-normal;
        @apply text-left;
        color: theme("colors.graytext1");
        font-size: rem(16);
        @apply underline;

        margin-top: rem(24);
        margin-right: auto;
    }
}