
@import "reset";
@import "../../_webfonts_01";
@import "variables";
@import "breakpoints";
@import "animation";
@import "mixins";
@import "header";
@import "calculator";
@import "footer";
@import "citymodal";
@import "thanks";

.view-app {
    &--no-modal {
        z-index: 100;
        display: flex;
        flex-direction: column;
    }
}