.app-header {
    @apply font-montserrat;
    @apply font-normal;
    background-color: theme("colors.cwhite");
    padding: 0 rem(11) 0 rem(8);
    height: rem(64);

    .app-header-logo {
        height: 3rem;
    }

    .app-call {
        @apply text-center;
        

        .app-call-number {
            font-size: rem(14);
            @apply font-medium;
            color: theme("colors.phone");
        }
        .app-call-book {
            font-size: rem(10);
            @apply font-medium;
            @apply uppercase;
            color: theme("colors.cyellow");
            line-height: 1rem;
            border-bottom: 2px dotted theme("colors.cyellow");
            @apply cursor-pointer;
        }
    }
}
