.home-view {
    @apply font-montserrat;
    background-image: url("../images/zamania_bkg-414@2x.jpg");
    @apply bg-top;
    @apply bg-no-repeat;
    @apply bg-cover;
    @apply p-4;

    .home-view-content {
        @apply relative;
        @apply text-center;
        color: theme("colors.textwhite");
        h1 {
            max-width: rem(328);
            @apply font-normal;
            @apply uppercase;
            font-size: rem(10);
            letter-spacing: rem(2);
            @apply pt-4;
            @apply mx-auto;

            @screen phone {
                letter-spacing: rem(3);
                font-size: rem(10);
            }
        }

        h3 {
            max-width: rem(328);
            @apply font-shadow;
            @apply font-extrabold;
            @apply uppercase;
            font-size: rem(18);
            line-height: rem(0);
            letter-spacing: rem(1);
            @apply mt-12;
            @apply mx-auto;

            @screen phone {
                font-size: rem(23);
                letter-spacing: rem(1);
            }

            span {
                line-height: rem(56);

                @screen phone {
                    line-height: rem(64);
                }
            }

            span.rouble {
                @apply font-montserrat;
            }
        }

        h5 {
            @apply font-medium;
            @apply text-center;
            font-size: rem(12);
            line-height: rem(20);
            letter-spacing: rem(0);
            @apply mt-6;

            @screen phone {
                letter-spacing: rem(1);
                font-size: rem(13);
            }
        }

        form {
            margin-top: rem(34);
        

            input {
                @apply font-normal;
                @apply text-left;
                color: theme('colors.cwhite');
                font-size: rem(18);
                @apply pl-6;

                height: rem(56);
                border: 1px solid theme("colors.inputborder");
                border-radius: rem(56/2);
                background-color: transparent;

                @apply mx-auto;

                &::placeholder {
                    color: theme('colors.placeholder');
                }
                &:focus {
                    outline: none;
                }
            }

            button {
                @apply font-shadow;
                @apply font-normal;
                @apply leading-normal;
                color: theme("colors.cwhite");
                font-size: rem(14);
                text-align: center;

                height: rem(56);
                border: none;
                border-radius: rem(56/2);
                background-color: theme("colors.cyellow");

                @apply mt-4;
                @apply mx-auto;

                &:active {
                     outline: none;
                     background: none;
                }
                &:focus {
                    outline: none;
                }

                span {
                    padding-top: .3rem;
                }

                @screen phone {
                    font-size: rem(16);
                }


            }
        }

        a {
            @apply block;
            @apply font-shadow;
            @apply font-normal;
            @apply text-center;
            color: theme("colors.cyellow");
            font-size: 1rem;
            @apply underline;
            @apply mt-6;
            @apply mx-auto;
        }
    }
    p {
        @apply block;
        @apply font-normal;
        @apply text-center;
        color: theme("colors.textmute");
        font-size: rem(6);
        @apply mx-auto;

        span {
            @apply underline;
        }
    }
}
