.home-view {

    flex-shrink: 1;

    background-image: url("../images/korona_bkg-414@2x.jpg");
    @apply bg-right-top;
    @apply bg-no-repeat;
    @apply bg-cover;
    @apply p-4;

    @screen tablet {
        background-image: url("../images/korona_bkg-768@2x.jpg");
        padding-left: rem(40);
        padding-right: rem(40);
        padding-top: rem(24);
        
    }

    @screen monitor {
        min-height: rem(544);
        @apply bg-top;
        background-image: url("../images/korona_bkg-1440@2x.jpg");
        
    }

    .home-view-content {
        min-width: 18rem;
        @apply mx-auto;

        @apply relative;
        @apply text-left;
        color: theme("colors.whitetext");

        @screen monitor {
            @apply mx-auto;
            max-width: rem(722);
        }

        h1 {

            text-transform: uppercase;
            @apply font-medium;
            font-size: rem(10);
            color: theme('colors.whitetext');
            letter-spacing: rem(6);
            text-align: left;

    
            @screen phone {
                font-size: rem(12);
            }
    
            @screen tablet {
                font-size: rem(18);
                letter-spacing: rem(8);
            }
    
            @screen monitor {
                font-size: rem(16);
                letter-spacing: rem(7);
            }
        }

        h3 {
            margin-top: rem(30);

            font-size: rem(28);
            font-weight: 900;
            line-height: rem(40);
            letter-spacing: rem(-0.3);
            text-align: left;

            @screen phone {
                font-size: rem(32);
            }

            @screen tablet {
                margin-top:rem(183);
                line-height: rem(56);
                max-width: rem(624);
                font-size: rem(48);
            }

            @screen monitor {
                max-width: rem(733);
                min-width: 50%;
                letter-spacing: rem(-0.8);
            }
        }

        h5 {
            font-size: rem(12);
            font-weight: 500;
            line-height: rem(20);
            letter-spacing: rem(0);
            text-align: left;

            max-width: 100%;
            margin-top: rem(10);

            @screen phone {
                font-size: rem(14);
                max-width: rem(343);
            }

            @screen tablet {
                max-width: rem(360);
                margin-top: rem(25);

                font-size: rem(16);
                line-height: rem(24);
                letter-spacing: 0;

            }

            @screen monitor {
                min-width: rem(360);
                max-width: rem(450);
                margin-top:rem(23);
            }
                
        }

        form {
            margin-top: rem(34);
            margin-left: auto;
            margin-right: auto;
            width: 100%;

            @screen phone {
                
                
            }

            @screen tablet {
                margin-top: rem(43);
                max-width: rem(328);
                margin-left:0;
                margin-right:auto;
            }

            @screen monitor {
                
            }

            input {
                @apply font-roboto;
                @apply text-left;
                font-weight: 400;
                color: theme("colors.whitetext");
                font-size: rem(18);

                border: 1px solid theme("colors.whitetext");
                border-radius: 1px;
                background-color: transparent;

                height: rem(56);

                @apply p-4;
                @apply mx-auto;

                &::placeholder {
                    
                    color: theme("colors.placeholder");
                }
                &:focus {
                    color: theme("colors.whitetext");
                    outline: none;
                }

                @screen tablet {
                    
                }
            }

            button {
                color: theme("colors.whitetext");
                font-weight: 500;
                font-size: rem(16);
                text-align: center;

                height: rem(56);
                box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.16);

                border-radius: 1px;
                border: 1px solid theme('colors.cyellow');
                background-color: theme("colors.cyellow");
                box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.16);

                @apply mt-4;
                @apply mx-auto;

                &:active {
                    outline: none;
                    background: none;
               }
               &:focus {
                   outline: none;
               }

               &.disabled {
                @apply cursor-not-allowed;
            }

               @screen tablet {
                    
               }
            }
        }

        a {
            display: block;
            margin-top: rem(24);
            text-decoration: underline;

            font-size: rem(16);
            font-weight: 500;
            letter-spacing: rem(0);
        }

        p {
            @apply block;
            @apply font-normal;
            @apply text-left;
            color: theme("colors.greytext");
            font-size: rem(6);
            margin-right:auto;
            margin-top: rem(0);
            padding-top: 1rem;
    
            @screen phone {
                margin-top: auto;
                padding-top: 2rem;
                font-size: rem(7);
            }
    
            @screen tablet {
                font-size: rem(12);
            }
    
            @screen monitor {
                text-align:left;
            }
    
            span {
                @apply underline;
            }
        }
    }

   
}
