form {
    font-weight: 400;
    margin: rem(32) auto 0;
    width: 100%;
    text-align: left;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: darken($textgrey,25%);
        font-size: rem(18);

        padding-left: rem(16);

        border: none;
        border-radius: rem(1);
        background-color: $bg;
        box-shadow: inset 0 -1px 0 #d8d7d9;

        width: 100%;
        height: rem(56);

        &::placeholder {
            color: $textgrey;
        }
        &:focus {
            outline: none;
        }
    }

    button {

        margin-top: rem(16);

        display: flex;
        justify-content: center;
        align-items: center;

        color: $bg;
        font-size: rem(16);
        letter-spacing: rem(-0.4);
        text-align: center;

        width: 100%;
        height: rem(56);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.16);

        border-radius: rem(1);
        border: none;
        background-color: $textmain;

        &:active {
            outline: none;
            background: none;
       }
       &:focus {
           outline: none;
       }
       &::placeholder {
        font-size: rem(16);
       }

       @include mobile {
        font-size: rem(18);
       }

    }

    &.form-modal {
        input {
            border-radius: rem(0);
            
            &:focus {
                border: 1px solid rgba(0, 0, 0, 0.16);
                border-radius: rem(6);
            }
        }
    }
    &.form-invalid {
        button {
            cursor:not-allowed;
        }
    }
}