.home-view {

    display: flex;
    flex-direction: column;

    flex-grow: 1;
    flex-shrink: 1;

    background-image: url("../images/mg_bkg-414@2x.jpg");

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    .home-view-content {
        color: $textwhite;

        max-width: rem(414);
        margin: 0 auto;
        padding: 0 1rem;

        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        
        .home-service {
            display: flex;
            margin: rem(16) 0 0;
            font-size: rem(14);
            font-weight: 300;
            width: 100%;

            @include mobile {
                
            }

            ul {

                margin: 0;
                padding: 0;

                @include mobile {
                    margin: 0 rem(54) 0 auto;
                }

                li {
                    list-style-type: none;

                    &:not(:nth-child(0)) {
                        // margin-top: rem(8);
                        line-height: rem(30);

                        @include mobile {
                            // margin-top: rem(14);
                            font-size: rem(14);
                            line-height: rem(34);
                        }
                    }
                }
            }
        }

        &-center {

            display: flex;
            flex-direction: column;

            h1 {
                font-weight: 400;
                font-size: rem(24);
                line-height: rem(30);
                letter-spacing: rem(-0.2);
    
                text-align: left;
                margin: 1rem 0 0;
    
                @include mobile {
                    font-size: rem(24);
                    line-height: rem(35);
                    letter-spacing: rem(-0.2);
                    margin: 0;
                }
    
            }
    
            h3 {
                font-weight: 300;
                font-size: rem(14);
                line-height: rem(22);
                letter-spacing: rem(0);
    
                margin: rem(12) 0 0 0;
    
                @include mobile {
                    margin: rem(12) 0 0 auto;
                }
            }
    
            .signup {
                margin-top: rem(16);
                a {
                    display: inline;
                    font-weight: 300;
                    font-size: rem(18);
                    border-bottom: 1px solid $bg;
                }
            }
        }

    }

    p {
        @apply font-light;
        text-align: left;
        color: $textgrey;
        font-size: rem(8);
        line-height: rem(14);

        @include mobile {
            font-size: rem(12);
            line-height: rem(14);
        }

        span {
            text-decoration: underline;
        }
    }
}
