.home-view {

    display: flex;
    flex-direction: column;

    flex-grow: 1;
    flex-shrink: 1;

    background-image: url("../images/mg_bkg-414@2x.jpg");

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    .home-view-content {
        color: $textwhite;

        width: 100%;
        max-width: rem(414);
        padding: 0 1rem;

        position: relative;

        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        
        .home-service {
            display: flex;
            margin: rem(16) 0 0;
            font-size: rem(14);
            font-weight: 300;
            width: 100%;

            @include mobile {
                
            }

            ul {

                margin: 0;
                padding: 0;

                @include mobile {
                    margin: 0 rem(54) 0 auto;
                }

                li {
                    list-style-type: none;

                    &:not(:nth-child(0)) {
                        // margin-top: rem(8);
                        line-height: rem(30);

                        @include mobile {
                            // margin-top: rem(14);
                            font-size: rem(14);
                            line-height: rem(34);
                        }
                    }
                }
            }
        }

        &-center {

            display: flex;
            flex-direction: column;
            margin: 0 0 0 0;

            h1 {
                font-weight: 500;
                font-size: rem(36);
                line-height: rem(48);
                letter-spacing: rem(-0.4);
    
                text-align: left;
                margin: 0;
    
                @include mobile {
                    
                }
    
            }
    
            h3 {
                font-weight: 500;
                font-size: rem(20);
                line-height: rem(26);
                letter-spacing: rem(-0.2);
    
                margin: 0 0 0 0;
    
                @include mobile {
                    font-size: rem(24);
                    line-height: rem(32);
                    font-weight: 500;
                }
            }

            h5 {
                margin: 0;
                padding: 0;

                font-weight: 300;
                font-size: rem(14);
                line-height: rem(24);
                letter-spacing: rem(0);

                margin-top: rem(11);

                @include mobile {
                    font-size: rem(16);
                }

            }
    
            .signup {
                margin-top: rem(16);
                a {
                    display: inline;
                    font-weight: 300;
                    font-size: rem(18);
                    border-bottom: 1px solid $bg;
                }
            }
        }

    }

    p {
        text-align: left;
        color: $textgrey;
        font-size: rem(8);
        line-height: rem(14);

        // position: absolute;
        // bottom: 0;

        margin: 2rem 0 1rem 0;
        padding: 0 1rem;

        @include mobile {
            margin: 1.5rem 0 rem(8) 0;
            font-size: rem(12);
            line-height: rem(14);
        }

        span {
            text-decoration: underline;
        }
    }
}
