// COLORS OLD
$brightblue: #e6f6ff;
$lightblue: #cdeeff;
$darkblue: #56c2fe;
$slidertext: #50c0ff;
$orange: #fe9800;
$white:#faf9f8;
$grey: #807773;
$darkgrey: #f2f1f0;
$checkboxtext: #a89e90;
$footerwhite:#faf9f8;
$footergrey:#ffcc80;
$formgrey: #807773;
$greybg: #e2e0dc;

//NEW COLORS
$bg: #ffffff;
$textwhite: #f3f2f2;
$textgrey: #b3adae;
$textmain:#845588;


//FONTS

$jost: 'Jost', sans-serif;
$font-manrope: 'Manrope', sans-serif;