
//NEW COLORS
$bg: #ffffff;
$colorgrey: #2a2828;
$textmain: #e60003;
$textwhite:#f8f7f6;
$textplaceholder:#a7a0a0;
$textgrey:#dbd7d7;
$bg: #ffffff;
$bordercolor:#dbd7d7;
$listbordercolor: #dbd9d7;
$textlist: #2a2928;
$textthanks: #2a2828;


//FONTS

$jost: 'Jost', sans-serif;
$font-manrope: 'Manrope', sans-serif;
$montserrat: 'Montserrat', sans-serif;